*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
}

.swal-modal {
    background-color: rgba(63,255,106,0.69);
    border: 3px solid white;
  }

#main-container{
    height: 350vh;
    width: 100%;
    background-image: linear-gradient(to right top, #ffffff, #efeff1, #dfe0e3, #ced1d5, #bdc3c7);
}

.wheel-holder{
    width: auto;
    text-align: center;
    
    .wheel{
        display: inline-block;  
        font-family: 'Roboto', sans-serif;
    }
             
    .btn-grad {
        
        background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
        margin: 10px auto;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        border-radius: 10px;
        outline: none;
        border-style: none;
        display: block;

        &:hover{
            
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
              
        }
      }

   
     
}
.embeded-data{
      width: auto;
      text-align: center;
      height: '200vh';
      
    .yt{
        
        iframe{
            width: 70%;
            height: 550px;
        }
    }

    .social-media-btn{
        background-color: red;
    }

    .website{
        height: 100vh;
        iframe{
            width: 70%;
            height: 1000px;
        }
    }
    
}


// media query for phone
@media (min-width: 320px) and (max-width: 1024px) {
    #main-container{
        height: 210vh;
        width: 100%;
        background-image: linear-gradient(to right top, #ffffff, #efeff1, #dfe0e3, #ced1d5, #bdc3c7);
    }
    .embeded-data{
        width: auto;
        text-align: center;
        height: '170vh';
        
      .yt{
          
          iframe{
              width: 90%;
              height: 250px;
          }
      }
  
      .website{
          height: 100vh;
          iframe{
              width: 90%;
              height: 650px;
          }
      }
      
  }
  }


//   media query for tablet
  @media (min-width: 768px) and (max-width: 1024px) {
    #main-container{
        height: 200vh;
        width: 100%;
        background-image: linear-gradient(to right top, #ffffff, #efeff1, #dfe0e3, #ced1d5, #bdc3c7);
    }
    .embeded-data{
        width: auto;
        text-align: center;
        height: '200vh';
        
      .yt{
          
          iframe{
              width: 70%;
              height: 550px;
          }
      }
  
      .website{
          height: 100vh;
          iframe{
              width: 70%;
              height: 1000px;
          }
      }
      
  }
  
  }